@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.jumbotron {
    padding: 20px 0 10px 0;
}

.card-news {
    border: none;
    border-radius: 0;
}

.card-block-news-comments {
    margin-top: 0;
    background-color: #efefef;
    margin-bottom: 10px;
}

.card-news-comments {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.card-header {
    background-color: #374046;
    color: white;
}

.article-blog:nth-child(n+2) {
    padding-top: 30px;
    border-top: 1px solid #909090;
}
