@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400');

body {
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.navbar {
    margin-bottom: 30px;
}

.navbar-inverse {
    background-color: black !important;
}

.card-news {
    border: none;
    border-radius: 0;
}

.card-block-news-comments {
    margin-top: 0;
    background-color: #efefef;
    margin-bottom: 5px;
}

.card-news-comments {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
}

.card-header {
    background-color: black;
    color: white;
}

.article-blog:nth-child(n+2) {
    padding-top: 30px;
    border-top: 1px solid #909090;
}
